<launch>
  <node pkg="camera" type="camera_node.py" name="camera_node" output="screen"/>

  <node pkg="control" type="controller.py" name="control_node" output="screen">
    <rosparam command="load" file="$(find control)/config/controller.yaml"/>
    <param name="servo_port" value="/dev/servo_motor"/>
    <param name="servo_baudrate" value="115200"/>
    <param name="minimum_z" value="165.0"/>
  </node>
</launch>
